<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
<script src="{{ url_for('static', filename='js/aos.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/counter.js') }}"></script>
<script src="{{ url_for('static', filename='js/rellax.js') }}"></script>
<script src="{{ url_for('static', filename='js/flatpickr.js') }}"></script>
<script src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/select.js') }}"></script>