<link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/glightbox.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>





