<div class="container">

    <div class="site-navigation">
        <div class="row">
            <div class="col-6 col-lg-3">
                <a href="1Firstpage" class="logo m-0 float-start">iSpan BDSE27</a>
            </div>
            <!-- <div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap"> -->
                <ul class="js-clone-nav text-center site-menu p-0 m-0">
                    <li><a href="1Firstpage" class="fw-bolder">Welcome</a></li>
                    <li><a href="2Dashboard" class="fw-bolder">Delay ?</a></li>
                    <li><a href="3Chart" class="fw-bolder">Chart</a></li>
                    <li><a href="4Member" class="fw-bolder">About Us</a></li>
                </ul>
            <!-- </div> -->
        </div>
    </div>
    
</div>